<a href="https://colab.research.google.com/github/phamngan828am/ueh25.ktltpythonvastata/blob/main/python101(buoi3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PYTHON 101

##Trình biên dịch

In [ ]:
%%writefile first.cpp
#include
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}

Writing first.cpp

In [ ]:
!cat first.cpp
print("-"*50)

print('Compile...')
!gcc first.cpp -o first
!ls

print("-"*50)
print('Execute...')
!./first

#include
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}
--------------------------------------------------
Compile...
first.cpp:1:9: error: #include expects "FILENAME" or <FILENAME>
    1 | #include
      |         ^
first.cpp: In function ‘int main()’:
first.cpp:5:3: error: ‘printf’ was not declared in this scope
    5 |   printf("The value of c is %d.\n", c);
      |   ^~~~~~
first.cpp:1:1: note: ‘printf’ is defined in header ‘<cstdio>’; did you forget to ‘#include <cstdio>’?
  +++ |+#include <cstdio>
    1 | #include
first.cpp  sample_data
--------------------------------------------------
Execute...
/bin/bash: line 1: ./first: No such file or directory

In [ ]:
%%writefile first.py
a = 27
b = 6
c = a%b;
print("The value of c is %d.\n"% c)

Writing first.py

In [ ]:
!cat first.py
print("-"*50)
print("Interpret...")
%run first.py

a = 27
b = 6
c = a%b;
print("The value of c is %d.\n"% c)
--------------------------------------------------
Interpret...
The value of c is 3.

In [ ]:
print(a, b, c)

27 6 3

##Ngôn ngữ lập trình

In [ ]:
from IPython.display import display

In [ ]:
print("Hello, World!")
display('Hello, World!')

Hello, World!

'Hello, World!'

In [ ]:
# comment

In [ ]:
# indent
score = 80
if score >= 60:
  print("Pass")
  pass # dummy

Pass

In [ ]:
# varible
x = 2
print(x, type(x))
price = 2.5
print(price, type(price))
word = 'Hello'
print(word, type(word))
word = "Hello"
print(word, type(word))
word = """
Hello
"""

2 <class 'int'>
2.5 <class 'float'>
Hello <class 'str'>
Hello <class 'str'>

In [ ]:
x= 2
y = x + 1
print (f'x = {x}, y = {y}')
print('x = %d, y = %d'%(x, y))

x = 2, y = 3
x = 2, y = 3

In [ ]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.11

In [ ]:
x = "Hello World" #str
print(x, type(x))
x = 2 #int
print(x, type (x))
x = 2.5 #float
print(x, type(x))
x = 7j #complex
print(x, type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [ ]:
#container
x = ["apple", "banana", "cherry"] #list : chứa các đối tượng khác
print (x)

x = ("apple", "banana", "cherry") #tuple : chứa các đối tươnhj khác, read only
print (x, x[2])

x = range(6) #range : r(6)=[0.5], r(min,max): [min,max)
print(x, list(x)) # iteratorL chỉ cấp phát khi sử udnjg (kiểu iterator)

x = {"name" : "Tom", "age" : 20} #dict {k,v}
print(x, x['age'])

x = {"apple", "banana", "cherry"} #set : tập hợp ko có gtri trùng
print(x)

x = frozenset({"apple", "banana", "cherry"}) #frozenset
print(x)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry') cherry
range(0, 6) [0, 1, 2, 3, 4, 5]
{'name': 'Tom', 'age': 20} 20
{'banana', 'cherry', 'apple'}
frozenset({'banana', 'cherry', 'apple'})

In [ ]:
x = True #bool
print (x, type(x))

x = b"Hello" #bytes
print (x, type(x))

x = bytearray(5) #bytearray
print (x, type(x))

x = memoryview(bytes(5)) #memoryview
print (x, type(x))

x = None #NoneType
print (x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7d67111cd540> <class 'memoryview'>
None <class 'NoneType'>

In [ ]:
# Ép kiểu (Casting)
x = str(3) # x will be '3'
print (x, type(x))

y = int(3) # y will be 3
print (y, type(y))

z = float(3) # z will be 3.0
print (z, type(z))

print(list(range(6)))
print(set())

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
[0, 1, 2, 3, 4, 5]
set()

In [ ]:
#Numbers
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [ ]:
'''Arithmetic Operators
Operator Name Example
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

'Arithmetic Operators\nOperator Name Example\n+ Addition 7 + 2 = 9\n- Subtraction 7 - 2 = 5\n* Multiplication 7 * 2 = 14\n/ Division 7 / 2 = 3.5\n// Floor division 7 // 2 = 3 (Quotient)\n% Modulus 7 % 2 = 1 (Remainder)\n** Exponentiation 7 ** 2 = 49\n'

In [ ]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [ ]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [ ]:
# Tính BMI
#input
height_cm = 165
weight_kg = 60
#process
height_m = height_cm/100
BMI = (weight_kg/(height_m**2)) #cân nặng chia bình phương cao
#result
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 22.0

In [ ]:
# Future value of a specified principal amount, rate of interest, and a number of years
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [ ]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [ ]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

#Data structures

In [ ]:
x = ["apple", "banana", "cherry"] #list
print (x, type(x))
x = ("apple", "banana", "cherry") #tuple
print (x, type(x))
x = {"name" : "Tom", "age" : 20} #dict : theo trật tự mình quy định
print (x, type(x))
x = {"apple", "banana", "cherry"} #set : sắp xếp tự động theo ký tự AZ
print (x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>

In [ ]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print (x[1:3])
print (x[-1:1:-1]) #first lasst step
print (x[:-1], x[:], x[::-1])

4
60
70
90
[70, 80]
[90, 80]
[60, 70, 80] [60, 70, 80, 90] [90, 80, 70, 60]

In [1]:
a = [2, 3, 5]
b = [1, 2]
a.extend(b)
a.append(10)
print(a)

[2, 3, 5, 1, 2, 10]

In [2]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [3]:
animals = {'cat', 'dog'}
print (animals)

print('cat' in animals)
print('fish' in animals)

animals.add('fish')
print(animals)

print('fish' in animals)
print(len(animals))

animals.add("cat")
print(len(animals))

animals.remove('cat')
print(len(animals))

{'dog', 'cat'}
True
False
{'fish', 'dog', 'cat'}
True
3
3
2

In [4]:
s = "Hom nay la thu hai"
print (list(s))
print (len(s),list(s))
print(set(list(s)), len(set(list(s))))

['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
18 ['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
{'H', 't', ' ', 'l', 'h', 'a', 'o', 'u', 'm', 'n', 'i', 'y'} 12

In [5]:
# Dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [6]:
s = "Hom nay la thu hai"
d_cnt = {}
for ci in list(s):
  if d_cnt.get(ci) is None:
    d_cnt[ci] = 1
  else:
    d_cnt[ci] = d_cnt[ci] + 1

print(d_cnt)

{'H': 1, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'h': 2, 'u': 1, 'i': 1}

In [7]:
# Đếm số lần xuất hiện của kí tự
s = "hom nay la chu nhat"
d_cnt = {}
for ci in list(s):
  if d_cnt.get(ci) is None:
    d_cnt[ci] = 1
  else:
    d_cnt[ci] = d_cnt[ci] + 1

  print(d_cnt)

{'h': 1}
{'h': 1, 'o': 1}
{'h': 1, 'o': 1, 'm': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1, 'n': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1, 'n': 1, 'a': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1, 'n': 1, 'a': 1, 'y': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 2, 'n': 1, 'a': 1, 'y': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 2, 'n': 1, 'a': 1, 'y': 1, 'l': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 2, 'n': 1, 'a': 2, 'y': 1, 'l': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 'c': 1}
{'h': 2, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 'c': 1}
{'h': 2, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 'c': 1, 'u': 1}
{'h': 2, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 'c': 1, 'u': 1}
{'h': 2, 'o': 1, 'm': 1, ' ': 4, 'n': 2, 'a': 2, 'y': 1, 'l': 1, 'c': 1, 'u': 1}
{'h': 3, 'o': 1, 'm': 1, ' ': 4, 'n': 2, 'a': 2, 'y': 1, 'l': 1, 'c': 1, 'u': 1}
{'h': 3, 'o': 1, 'm': 1, ' ': 4, 'n': 2, 'a': 3, 'y': 1, 'l': 1, 'c': 1, 'u': 1}
{'h': 3, 'o': 1, 'm': 1, ' ': 4, 'n': 2, 'a': 3, 'y': 1, 'l': 1, 'c': 1, 'u': 1, 't': 1}

In [8]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'dog', 'cat'}
{'name': 'Tom', 'age': 20}

In [9]:
import pandas as pd
pd.DataFrame([person])

  name  age
0  Tom   20

In [10]:
# Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [11]:
# Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
 print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [12]:
# Comprehensive

In [13]:
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}
}
rows = []
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])
 row = {'number': account_number, **account_info}
 rows.append(row)

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

#Python Control Logic and Loops

In [14]:
a, b = 5, 2
for a, b in [(5,2), (5,5), (2,5)]:

 print ("<", a < b) #a<b
 print (">", a > b, b < a)
 print (">=", a >= b, not(a < b))
 print ("<=", a <= b, not(b < a))
 print ("==", a == b, not(b < a) and not( a < b))
 print ("!=", a ! = b, b < a or a < b)

SyntaxError: invalid syntax (ipython-input-2307181024.py, line 9)

In [15]:
# if else
score = 80
if score >= 60:
  print("Pass") # IF

Pass

In [16]:
score = 80
if score >=60 :
 print("Pass")
else:
 print("Fail")

Pass

In [17]:
# if elif else
score = 95
if score >= 90 :
 print("A")
elif score >=60 :
 print("Pass")
else:
 print("Fail")

A

In [18]:
score = 90
grade = ""
if score >=90:
  grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "E"
print(grade)

A

In [19]:
# Python for Loops
for i in range(1,6):
 print(i, end = " ")

1 2 3 4 5

In [20]:
# for loops
for i in range(1,10):
 for j in range(1,10):
  print(i, ' * ' , j , ' = ', i*j)
 print ("-"*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
--------------------------------------------------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
--------------------------------------------------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
--------------------------------------------------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
--------------------------------------------------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
--------------------------------------------------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
--------------------------------------------------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
--------------------------------------------------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
--------------------------------------------------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------

In [21]:
# while loops
age = 10
while age < 20:
 print(age, end = " ")
 age = age + 1

10 11 12 13 14 15 16 17 18 19

#Python Functions

In [22]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
 fv = pv * ((1 + (r)) ** n)
 return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [23]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [24]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [25]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [26]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
 fv = pv * ((1 + (r)) ** n)
 return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

##Python Classes/Objects

In [27]:
# Python class
class MyClass: #class :mẫu giấy tờ
 x = 5
c1 = MyClass() #object :sv A điền vào giấy tờ
print(c1.x)

5

In [28]:
class Person:
 def __init__(self, name, age): #hàm tạo, hàm trong class phải có từ khóa self
  self.name = name #định nghĩa hình thức
  self.age = age

p1 = Person("Alan", 20) # _init_(p1, "Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [29]:
class Person:
 def __init__(self, name, age):
  self.name = name
  self.age = age
 def myfunc(self):
  print("Hello my name is " + self.name)
p1 = Person("Alan", 20) # _init_(p1, "Alan", 20)
p1.myfunc() # myfunc(p1)

p1 = Person("Crystal", 20)
p1.myfunc()

Hello my name is Alan
Hello my name is Crystal

In [30]:
class Person:
 def __init__(self, name, age):
  self.name = name
  self.age = age
 def myfunc(self):
  print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [31]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'myfunc']

##Python Modules

In [32]:
%%writefile mymodule.py
# mymodules.py
def greeting(name):
 print("Hello, "+name)

Writing mymodule.py

In [33]:
!ls
print("-"*10)
!cat mymodule.py

mymodule.py  sample_data
----------
# mymodules.py
def greeting(name):
 print("Hello, "+name)

In [34]:
import mymodule
mymodule.greeting("World!")

Hello, World!

In [35]:
from mymodule import greeting
greeting("World!")

Hello, World!

##Python File/ Directory

In [36]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
 file.write('Hello World\nThis is Python File Input Output')
with open('myfile.txt', 'r') as file:
 text = file.read()
print(text)

Hello World
This is Python File Input Output

In [37]:
# Python File Input / Output
filename = 'mymodule.py'
with open(filename, 'w') as file:
  text = '''def greeting(name):
  print("Hello, " + name)
  '''
  file.write(text)
with open(filename, 'r') as file:
  text = file.read()
print(filename)
print(text)

mymodule.py
def greeting(name):
  print("Hello, " + name)

In [38]:
#Python main() function
def main():
  print("Hello World!")
if __name__ == "__main__":
  main()

Hello World!

##Files and Exception Handling

In [39]:
f = open()
f = open("myfile.txt")

TypeError: open() missing required argument 'file' (pos 1)

#KẾT THÚC