# Buá»•i 3(26/08/2025) part 2
## Data frame

In [2]:
import pandas as pd
df = pd.DataFrame({"a": [4, 5, 6],
"b": [7, 8, 9],
"c": [10, 11, 12]},
index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"a": [4, 5, 6],
"b": [7, 8, 9],
"c": [10, 11, 12]},
index = [1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print('pandas imported')

pandas imported

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20181001',
periods=6)
dates

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4),
index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-10-01 -1.059625  0.297653 -0.485013  2.117612
2018-10-02  0.046409 -0.347716  0.690187  1.010591
2018-10-03 -0.989241  0.599790 -0.190138 -0.205982
2018-10-04  1.014979 -0.920982  0.537501 -0.351695
2018-10-05 -0.306718 -0.540295  0.995548  1.393095
2018-10-06  1.537550 -0.944582 -0.274465  0.577525

In [13]:
df = pd.DataFrame(np.random.randn(3,5),
index=['student1','student2','student3'], columns=list('ABCDE'))
df

                 A         B         C         D         E
student1  0.390717 -1.104827  0.542849  1.397186  0.130304
student2  0.799330  0.065842  0.929939  1.003442  0.082587
student3  0.859432  0.411398 -1.866319 -0.216624  0.013045

In [14]:
df2 = pd.DataFrame({ 'A' : 1.,
'B' : pd.Timestamp('20181001'),
'C' : pd.Series(2.5,index=list(range(4)),dtype='float32'),
'D' : np.array([3] * 4,dtype='int32'),
'E' : pd.Categorical(["test","train","test","train"]),
'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2018-10-01  2.5  3   test  foo
1  1.0 2018-10-01  2.5  3  train  foo
2  1.0 2018-10-01  2.5  3   test  foo
3  1.0 2018-10-01  2.5  3  train  foo

In [ ]:
df3=pd.DataFrame(
    [('A': 1.0; 'B': pd.Timestamp('20182001'); 'C': 2.5; 'D':3

In [11]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object